<div class="login-envelope">
  <div class="login-box">
		<div class="login-header">
			<div class="habits-title-font center-align">Welcome to Habits!</div>
			<div class="habits-helper-text center-align margin-top-10 padding-bottom-10">Login to get more exciting media based on your interests and preferences.</div>
		</div>
		<!-- <fa name="cog" animation="spin"></fa> -->
		<div class="margin-bottom-10">
			<div class="same-line cred-1"><fa name="vcard-o"></fa></div>
			<div class="same-line cred-2"><input class="Roboto-one" type="text" placeholder="Email or Phone" #loginId/></div>
		</div>
		<div class="margin-bottom-10">
			<div class="same-line cred-1 pwd"><fa name="lock"></fa></div>
			<div class="same-line cred-2"><input class="Roboto-one" type="text" placeholder="Password" #loginPwd/></div>
		</div>
		<div class="action-link right-align cursor-pointer">
			<span>Forgot password?</span>
		</div>
		<div class="Roboto-one margin-top-10 btn btn-md habits-button-one" (click)="getAuthorisation(loginId.value,loginPwd.value)">Login</div>
		<!-- <div *ngFor="let user of users$">{{user.name}}</div> -->
  </div>
</div>
